server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:7432/park_db}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  jackson:
    default-property-inclusion: non_null

app:
  issuer: ${ISSUER:http://localhost:8080}
  keystore:
    location: ${KEYSTORE_LOCATION:classpath:jwt-test.p12}
    password: ${KEYSTORE_PASSWORD:testpass}
    key-alias: ${KEY_ALIAS:test}
    key-password: ${KEY_PASSWORD:testpass}
